@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
    var activeClass = string.Empty;
    var counter = 0;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row m-2">
    @foreach (var product in Model.ProductCardResponses)
    {
        if (counter != 0 && counter % 3 == 0 )
        {
            @:</div>
            @:<div class="row m-2">
        }
        <div class="col-4">
          <partial name="_ProductCard" model="product"/>
        </div>
        counter++;
    }
</div>

<div>
    <ul class="pagination pagination-lg">
        @for (int i = 1; i <= Model.PagingInfo.TotalPages; i++)
        {
            activeClass = i == Model.PagingInfo.ActivePage ? "active" : "";
            <li class="page-item @activeClass"><a class="page-link" asp-action="Index" asp-route-page="@i" asp-route-category="@ViewBag.Category">@i</a></li>
        }
        
    </ul>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('.addCard').on('click', function () {
                let id = $(this).data('id');
                $.ajax({
                    url:'/Shopping/AddToCard/'+id,
                    type:'GET',
                    success: function (data) {
                        console.log(data);
                    },
                    error: function (err) {
                        console.log(err);
                    }

                });
            })
        });
    </script>
}