@model IEnumerable<Category>

<div class="list-group">
    <a class="list-group-item list-group-item-action" asp-action="Index" asp-controller="Home" asp-route-page="1" >Tüm Kategoriler</a>


    @foreach (var category in Model)
    {
        <a class="list-group-item list-group-item-action" asp-action="Index" asp-controller="Home" asp-route-category="@category.Id" asp-route-page="1">@category.Name</a>
    }



</div>